{% if site.category_sidebar %}
<section>
<h1>分類</h1>
<ul>
  <li><a href='/blog/categories/activerecord'>Activerecord (4)</a></li>
  <li><a href='/blog/categories/amazon-s3'>Amazon-s3 (1)</a></li>
  <li><a href='/blog/categories/assets'>Assets (2)</a></li>
  <li><a href='/blog/categories/assets-precompile'>Assets-precompile (1)</a></li>
  <li><a href='/blog/categories/background-job'>Background-job (5)</a></li>
  <li><a href='/blog/categories/backup'>Backup (2)</a></li>
  <li><a href='/blog/categories/bigtuna'>Bigtuna (5)</a></li>
  <li><a href='/blog/categories/capistrano'>Capistrano (3)</a></li>
  <li><a href='/blog/categories/carrierwave'>Carrierwave (2)</a></li>
  <li><a href='/blog/categories/continuous-integration'>Continuous integration (5)</a></li>
  <li><a href='/blog/categories/controller'>Controller (1)</a></li>
  <li><a href='/blog/categories/counter'>Counter (1)</a></li>
  <li><a href='/blog/categories/database'>Database (1)</a></li>
  <li><a href='/blog/categories/date'>Date (1)</a></li>
  <li><a href='/blog/categories/delayed-job'>Delayed job (1)</a></li>
  <li><a href='/blog/categories/deploy'>Deploy (3)</a></li>
  <li><a href='/blog/categories/devise'>Devise (2)</a></li>
  <li><a href='/blog/categories/encoding'>Encoding (1)</a></li>
  <li><a href='/blog/categories/facebook'>Facebook (2)</a></li>
  <li><a href='/blog/categories/factory-girl'>Factory-girl (4)</a></li>
  <li><a href='/blog/categories/file-upload'>File-upload (1)</a></li>
  <li><a href='/blog/categories/fog'>Fog (1)</a></li>
  <li><a href='/blog/categories/git'>Git (2)</a></li>
  <li><a href='/blog/categories/git-rebase'>Git-rebase (1)</a></li>
  <li><a href='/blog/categories/god'>God (1)</a></li>
  <li><a href='/blog/categories/imagemagick'>Imagemagick (1)</a></li>
  <li><a href='/blog/categories/json'>Json (1)</a></li>
  <li><a href='/blog/categories/mailer'>Mailer (1)</a></li>
  <li><a href='/blog/categories/message-queue'>Message-queue (5)</a></li>
  <li><a href='/blog/categories/model'>Model (1)</a></li>
  <li><a href='/blog/categories/omniauth'>Omniauth (1)</a></li>
  <li><a href='/blog/categories/reading'>Reading (2)</a></li>
  <li><a href='/blog/categories/regular-expression'>Regular expression (1)</a></li>
  <li><a href='/blog/categories/resque'>Resque (5)</a></li>
  <li><a href='/blog/categories/rmagick'>Rmagick (1)</a></li>
  <li><a href='/blog/categories/rspec'>Rspec (11)</a></li>
  <li><a href='/blog/categories/rspec-controllers'>Rspec-controllers (1)</a></li>
  <li><a href='/blog/categories/rspec-requests'>Rspec-requests (1)</a></li>
  <li><a href='/blog/categories/rubygems'>Rubygems (21)</a></li>
  <li><a href='/blog/categories/sql'>Sql (1)</a></li>
  <li><a href='/blog/categories/sql'>Sql (1)</a></li>
  <li><a href='/blog/categories/string'>String (1)</a></li>
  <li><a href='/blog/categories/testing'>Testing (4)</a></li>
  <li><a href='/blog/categories/url-helper'>Url-helper (1)</a></li>
  <li><a href='/blog/categories/validations'>Validations (1)</a></li>
  <li><a href='/blog/categories/views-partial'>Views-partial (1)</a></li>
  <li><a href='/blog/categories/xml'>Xml (1)</a></li>
  <li><a href='/blog/categories/yaml'>Yaml (1)</a></li>
</ul>
</section>
{% endif %}
