<section>
  <h2>Links</h2>
  <ul id="links">
    <li class="link">
      <a href="http://ihower.tw/rails3/" target="_blank">ihower Rails 實戰聖經</a>
    </li>
    <li class="link">
      <a href="http://ihower.tw/blog/" target="_blank">ihower的 blog</a>
    </li>
    <li class="link">
      <a href="http://wildjcrt.pixnet.net/blog" target="_blank">小蟹的 blog</a>
    </li>
    <li class="link">
      <a href="http://blog.xdite.net/" target="_blank">XDite的 blog</a>
    </li>
    <li class="link">
      <a href="http://blog.hellolucky.info/" target="_blank">HelloLucky的 blog</a>
    </li>
    <li class="link">
      <a href="http://gogojimmy.net/" target="_blank">Jimmy 的 blog</a>
    </li>
    <!--
    <li class="link">
      <a href="" target="_blank"></a>
    </li>
    -->
  </ul>
</section>
