<section>
<h1>黃金俠</h1>
<p>
  <!-- avatar start -->
    <img src="http://www.gravatar.com/avatar/0b2f434918eb4a08439d180a13829631.png" alt="marsz" align="left" style="margin-right: 15px" />
  <!-- avatar end -->
  2008 年投身於網路圈，致力於創造能帶來幸福感的網路服務，專注網站開發與資料分析技術
</p>

  <div style="clear:both"></div>
  <!-- facebook -->
  <a href="http://zh-tw.facebook.com/marsz330" target="_blank" title="MarsZ Chen"><img src="{{ root_url }}/images/i_facebook.png" style="border: 0px;height: 30px" /></a>
  <!-- /facebook -->
  <!-- twitter -->
  <a href="https://twitter.com/marsz330" target="_blank"><img src="{{ root_url }}/images/i_twitter.png" style="border: 0px;height: 30px"></a>
  <!-- /twitter -->
  <!-- github -->
  <a href="https://github.com/marsz" target="_blank"><img src="{{ root_url }}/images/i_github.png" style="border: 0px;height: 30px"></a>
  <!-- /github -->
  <a href="http://www.linkedin.com/profile/view?id=97000937" target="_blank"><img src="{{ root_url }}/images/i_linkedin.png" style="border: 0px;height: 30px"></a>
  
  <p></p>
  <!-- gamil start -->
    <img src="{{ root_url }}/images/gmail.png" alt="gmail" />
  <!-- gamil end -->

<p style="display:none;"><a href="http://feeds.feedburner.com/marsz/ZKPk"><img src="http://feeds.feedburner.com/~fc/marsz/ZKPk?bg=CCCCCC&amp;fg=000000&amp;anim=1&amp;label=listeners" height="26" width="88" style="border:0" alt="" /></a></p>
</section>
