<section>
<h1>黃金俠</h1>
<br />
<img src="http://www.gravatar.com/avatar/0b2f434918eb4a08439d180a13829631.png" alt="marsz" />
<br />
<img src="{{ root_url }}/images/gmail.png" alt="gmail" />
<!-- Facebook Badge START --><a href="http://zh-tw.facebook.com/marsz330" target="_blank" title="MarsZ Chen"><img src="http://badge.facebook.com/badge/585508563.880.1901225542.png" style="border: 0px;" /></a><!-- Facebook Badge END -->
<a href="https://twitter.com/marsz330" class="twitter-follow-button" data-show-count="false" data-lang="zh-tw">關注 @marsz330</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<p><a href="http://feeds.feedburner.com/marsz/ZKPk"><img src="http://feeds.feedburner.com/~fc/marsz/ZKPk?bg=CCCCCC&amp;fg=000000&amp;anim=1&amp;label=listeners" height="26" width="88" style="border:0" alt="" /></a></p>
</section>
